@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Outfit;
}
#root{
  min-height: 100vh;
  display: flex;
  animation: Fade 1.6s;
}
@keyframes Fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}